@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox:checked::before {
    content: '✓';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border: none;
    background-color: #575757;
    border-radius: 9999px; /* To make it circular */
}

.orders-custom-checkbox input[type="checkbox"]:checked + label {
    @apply bg-black;
}