@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox:checked::before {
    content: '✓';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border: none;
    background-color: #575757;
    border-radius: 9999px; /* To make it circular */
}

.orders-custom-checkbox input[type="checkbox"]:checked + label {
    @apply bg-black;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}
  
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 1px solid #64748b;
    border-radius: 0.375rem;
    font-size: 1rem;
}
  
.custom-select::after {
    content: "↓";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1rem;
    color: #64748b;
}
  