@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox:checked::before {
    content: '✓';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 19px;
    border: none;
    background-color: black;
    border-radius: 9999px; /* To make it circular */
}